//---------------------
//IMPORTS
//---------------------
@import 'variables.scss';
@import 'mixins.scss';
@import "../vendor/fontawesome/scss/fontawesome.scss";
@import "../vendor/fontawesome/scss/light.scss";
@import "../vendor/fontawesome/scss/regular.scss";
@import "../vendor/fontawesome/scss/brands.scss";
//---------------------
//    GLOBAL STYLES
//---------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font: $body-font;
    height: 100%;
    background-color: $primary;
    color: $primary;
    

    .container {
        padding: 0 2rem;
        margin:0 auto;
        width: 100%;
        @include mq(md) {
            padding: 0 6rem;
        }
        @include mq(lg) {
            padding: 0 8rem;
        }
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }

    h1, h2, h3, h4 {
        font: $heading-font;
        text-transform: uppercase;
        font-weight: 700;
        color: $white;
    }
    h1 {
        font-size: 3.2rem;
        @include mq(md) {
            font-size: 4rem;
        }
        @include mq(lg) {
            font-size: 4.8rem;
        }
    }
    h2 {
        font-size: 2.6rem;
        @include mq(md) {
            font-size: 3.2rem;
        }
        @include mq(lg) {
            font-size: 3.6rem
        }
    }
    h3 {
        font-size: 2.2rem;
        @include mq(md) {
            font-size: 2.4rem;
        }
        @include mq(lg) {
            font-size: 2.8rem;
        }
    }
    h4 {
        font-size: 1.8rem;
    }
    a {
        color: $white;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
    #myNav {
        &.overlay {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 10;
            left: 0;
            top: 0;
            background-color: $white;
            overflow-x: hidden;
            transition: 0.3s;

            .overlay-content {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 3rem;
            }
            a {
                font: $heading-font;
                padding: 0.8rem;
                text-decoration: none;
                font-size: 3.6rem;
                color: $primary;
                display: block;
                transition: 0.3s;

                &:hover, &:focus {
                    color: $secondary;
                }
                &.closebtn {
                    font: $body-font;
                    position: absolute;
                    top: 0;
                    right: 2rem;
                    font-size: 6rem;
                    line-height: 1;
                }
            }
            

            @include mq(sm-only) {
                a {
                    font-size: 2rem;

                }
                &.closebtn {
                    font-size: 4rem;
                    top: 1.5rem;
                    right: 3.5rem;
                }
            }
        }
    }
    header {
        border-top: 1rem solid $white;
        border-left: 1rem solid $white;
        border-right: 1rem solid $white;
        
        .container {
            @include flexbox;
            @include justify-content(space-between);
        }
        .logo, .menu {
            width: 50%;
        }
        .logo {
            span {
                font: $heading-font;
                display: block;
                width: 5rem;
                height: 5rem;
                background-color: $accent;
                color: $primary;
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                font-size: 2.5rem;
                margin-top: -1rem;
                @include box-shadow(0, 0, 0.5rem, $primary);
                
            }
        }
        .menu {
            text-align: right;
            button {
                border: 0;
                background-color: transparent;
                margin-top: 1.5rem;

                span {
                    display: block;
                    width: 3rem;
                    height: 0.2rem;
                    background-color: $white;
                    margin-bottom: 1rem;
                }
            }
        }
        @include mq(md) {
            border-top: 1.5rem solid $white;
            border-left: 1.5rem solid $white;
            border-right: 1.5rem solid $white;

            .logo {
                span {
                    width: 7rem;
                    height: 7rem;
                    margin-top: -1.5rem;
                }
            }
        }
    }
    main {
        .grad-bg {
            background: linear-gradient(320deg, $primary, $secondary);
        }
        border-left: 1rem solid $white;
        border-right: 1rem solid $white;
        border-bottom: 1rem solid $white;
        @include mq(md) {
            border-bottom: 1.5rem solid $white;
            border-left: 1.5rem solid $white;
            border-right: 1.5rem solid $white;
        }
        #hero {
            height: 100vh;
            margin-top: -5.7rem;
            background: linear-gradient(120deg, $primary, $secondary);
            @include flexbox;
            @include align-items(center);
            
            @include mq(md) {
                h1 {
                    font-size: 8rem;
                }
            }
        }
        #connect {
            background-color: $accent;
            border-top: 1rem solid $white;
            padding: 6rem 0;
            position: relative;
    
            .left {
                margin: 0 2rem 3rem 3rem;
                h2 {
                    color: $primary;
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }
                p {
                    font: $accent-font;
                    font-size: 2rem;
                    color: $primary;
                }
            }
            .right {
                position: relative;
                ul {
                    @include flexbox;
                    @include justify-content(center);
                    @include align-items(center);
                    margin-bottom: 2rem;
    
                    li {
                        margin: 0 2.5rem;
                        a {
                            color: $primary;
                            font-size: 3rem;
                        }
                    }
                }
            }
            .h-line {
                background-color: $secondary;
                position: absolute;
                margin: 0;
                width: initial;
                right: -1rem;
                left: 5rem;
                
            }
            @include mq(md) {
                padding: 10rem 8rem;
                border-top: 1.5rem solid $white;
                
                @include flexbox;
                @include justify-content(flex-end);
                @include align-items(flex-end);
                
                .left {
                    width: 50%;
                    padding-right: 1.5rem;
                    margin-bottom: -0.6rem;
                    text-align: right;
                    
                    h2 {
                        font-size: 6rem;
                    }
                    p {
                        font-size: 3rem;
                    }
                }
                .right {
                    width: 50%;
                    a {
                        
                    }
                }
                .h-line {
                    left: 55%;
                    right: -1.5rem;
                    margin-left: 1.5rem;
                }
            }
            @include mq(lg) {
                padding: 12rem 10rem;
                .left {
                    h2 {
                        font-size: 8rem;
                    }
                }
            }
        }
    }
    footer {
        text-align: center;
        padding: 1rem 0;
        background-color: $primary;
        
        p {
            font-size: 1.4rem;
            color: $white;
        }
    }
    .h-line {
        display: block;
        width: 10rem;
        height: 0.2rem;
        background-color: $accent;
        margin: 2rem 0;
    }
    .btn {
        display: block;
        text-align: center;
        background-color: transparent;
        border: 2px solid;
        padding: 1rem 4rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    .btn-light {
        border-color: $accent;

    }
    .accent-font {
        font: $accent-font;
        text-transform: initial;
    }
}
//---------------------
//        HOME
//---------------------
#home {
    #hero {
        h1 {
            text-align: center;
            span {
                display: block;
                font-size: 3rem;
                color: $accent;
                margin-top: 1rem;
            }
        }
        @include mq(md) {
            h1 {
                span {
                    font-size: 6rem;
                }
            }
        }
    }
    #intro {
        padding: 10rem 0 20rem;

        .greeting {
            margin-bottom: 5rem;
            p {
                color: $accent;
                font-size: 3rem;
            }
        }
        .text {
            @include white-panel;
            //Need to fix margins here !!!!!!!!!!!!!!!!!!!

            &::before {
                @include panel-bottom;
                width: 80%;
            }
            h3 {
                margin-bottom: 3rem;
                color: $primary;
            }
            p {
                margin-bottom: 2rem;
            }
        }
        @include mq(md) {
            padding: 20rem 0 20rem;
            h2 {
                font-size: 4.8rem;
            }
            .container {
                @include flexbox;
                @include flex-wrap(wrap);
                @include justify-content(space-between);
            }
            .greeting {
                width: 70%;
            }
            .text {
                width: 80%;
                margin: 0 0 5rem -7.5rem;
                padding: 8rem 6rem;
                &::before {
                    width: 95%;
                    margin-left: -1rem;
                }
            }
            .img-container{
                width: 20%;
            }
            a {
                margin: 0 auto;
            }
            
        }
        @include mq(lg) {
            .greeting {
                width: 50%;
                margin-right: 50%;
            }
            .text, .img-container {
                width: 50%;
            }
            .text {
                margin-left: -9.5rem;
                padding: 10rem 9.5rem;
            }
        }
    }
    #sel-work {
        padding: 10rem 0 20rem;
        h2 {
            margin: 0 2rem;
        }
        > .h-line {
            margin-left: 2rem;
        }
        .container {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-between);
        }
        .work {
            background-color: $white;
            position: relative;
            overflow: hidden;
            
            @include box-shadow(0, 0, 1rem, $primary);
            margin-bottom: 3rem;
            
            a {
                display: block;
                color: $primary;
                padding: 4rem 2rem;
                position: relative;
                z-index: 2;
                &::before {
                    content: ' ';
                    display: block;
                    background: linear-gradient(rgba(81, 235, 200, 0), rgba(81, 235, 200, 0.5));
                    width: 100%;
                    height: 200%;
                    position: absolute;
                    transform: rotate(-30deg);
                    top: -50%;
                    right: -70%;
                    transition: 0.3s right;
                }
                &:hover::before, &:focus::before {
                    right: -50%;
                }
                h3 {
                    margin-bottom: 3rem;
                    color: $primary;
                }

                ul {
                    li {
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-bottom: 2rem;
                        &::before {
                            content: ' ';
                            background-color: $accent;
                            display: inline-block;
                            margin-right: 2rem;
                            width: 1rem;
                            height: 1rem;
                            @include rounded(50%);
                            
                        }
                    }
                }
            }
        }
        .btn {
            margin: 0 auto;
        }
        @include mq(md) {
            h2 {
                margin: 0 6rem;
                font-size: 4.8rem;
            }
            > .h-line {
                margin-left: 6rem;
            }
            .work {
                width: calc(50% - 1.5rem);
            }
        }
        @include mq(lg) {
            .work:nth-child(1), .work:nth-child(4) {
                width: calc(60% - 1.5rem)
            }
            .work:nth-child(2), .work:nth-child(3) {
                width: calc(40% - 1.5rem)
            }
            .work {
                a {
                    padding: 6rem 4rem;
                }
            }
        }
    }
}
//---------------------
//       ABOUT
//---------------------
#about {
    #hero {
        p {
            font: $accent-font;
            font-size: 3rem;
            color: $accent;
        }
    }
    #personal {
        padding: 6rem 1rem 8rem;
        @include white-panel;
        &::before {
            @include panel-bottom;
        }
        .left {
            h3 {
                color: $primary;
                margin-bottom: 2rem;
            }
            > div:first-child {
                margin-bottom: 4rem;
            }
            > div:last-child {
                margin-bottom: 4rem;
                .school {
                    .name {
                        font-weight: 700;
                    }
                    &:last-child {
                        margin-top: 2rem;
                    }
                }
            }
        }
        .right {
            border-top: 1px solid $secondary;
            text-align: center;
            .img-container {
                width: 15rem;
                height: 15rem;
                background-color: #eee;
                margin: 0 auto 2rem;
            }
            p {
                margin-bottom: 4rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        @include mq(md) {
            padding: 8rem 1rem 10rem;
            margin-left: -1.5rem;
            margin-right: -1.5rem;

            .container {
                @include flexbox;
                @include justify-content(space-between);
            }
            .left {
                width: calc(70% - 3rem);
            }
            .right {
                width: calc(30%);
                border-top: 0;
                border-left: 1px solid $secondary;
                padding-left: 1.5rem;
            }
        }
    }
    #skills {
        padding: 6rem 0 8rem;
        
        .web-dev, .design {
            h3 {
                @include flexbox;
                
                @include align-items(center);
                margin-bottom: 2rem;
                span {
                    line-height: 1;
                    background-color: $white;
                    @include rounded(50%);
                    @include flexbox;
                    @include justify-content(center);
                    @include align-items(center);
                    margin-right: 1rem;
                    padding: 0.5rem;

                    i {
                        color: $primary;
                        font-size: 1.6rem;
                    }
                }
            }
            > ul {
                li {
                    margin-bottom: 2rem;
                    p {
                        color: $white;
                        text-transform: uppercase;
                        margin-bottom: 0.5rem;
                        font-size: 1.4rem;
                    }
                    .bar {
                        @include rounded;
                        background-color: $primary;
                        height: 1rem;
                        

                        .inner {
                            @include rounded;
                            display: block;
                            height: 1rem;
                            background-color: $accent;
                            width: 50%;
                        }
                    }
                }
            }
        }
        .web-dev {
            margin-bottom: 6rem;
        }
        .ten {
            width: 10%;
        }
        .twenty {
            width: 20%;
        }
        .thirty {
            width: 30%;
        }
        .forty {
            width: 40%;
        }
        .fifty {
            width: 50%;
        }
        .sixty {
            width: 60%;
        }
        .seventy {
            width: 70%;
        }
        .eighty {
            width: 80%;
        }
        .ninety {
            width: 60%;
        }
        .full {
            width: 100%;
        }
    }
    #experience {
        padding: 6rem 0 8rem;

        .jobs {
            
            li {
                margin-bottom: 4rem;

                h4 {
                    margin-bottom: 0.5rem;
                }
                p {
                    color: $accent;
                    font-weight: 700;
                    margin-bottom: 2rem;
                }
            }
        }
        .duties {
            li {
                color: $white;
                margin-bottom: 2rem;
                @include flexbox;
                &::before {
                    content: "•";
                    display: inline-block;
                    color: $accent;
                    margin-right: 1rem;
                    
                }
            }
        }
    }
}