//---------------------
//IMPORTS
//---------------------
@import 'variables.scss';
@import 'mixins.scss';
@import "../vendor/fontawesome/scss/fontawesome.scss";
@import "../vendor/fontawesome/scss/light.scss";
@import "../vendor/fontawesome/scss/regular.scss";
@import "../vendor/fontawesome/scss/brands.scss";
//---------------------
//    GLOBAL STYLES
//---------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font: $body-font;
    height: 100%;
    background-color: $primary;
    color: $white;
    

    .container {
        padding: 0 2rem;
        margin:0 auto;
        width: 100%;
        @include mq(md) {
            padding: 0 6rem;
        }
    }

    h1, h2, h3, h4 {
        font: $heading-font;
        text-transform: uppercase;
        font-weight: 700;
    }
    h1 {
        font-size: 3.2rem;
        @include mq(md) {
            font-size: 4rem;
        }
        @include mq(lg) {
            font-size: 4.8rem;
        }
    }
    h2 {
        font-size: 2.6rem;
        @include mq(md) {
            font-size: 3.2rem;
        }
        @include mq(lg) {
            font-size: 3.6rem
        }
    }
    h3 {
        font-size: 2.2rem;
        @include mq(md) {
            font-size: 2.4rem;
        }
        @include mq(lg) {
            font-size: 2.8rem;
        }
    }
    h4 {
        font-size: 1.8rem;
    }
    a {
        color: $white;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }

    header {
        border-top: 1rem solid $white;
        border-left: 1rem solid $white;
        border-right: 1rem solid $white;
        
        .container {
            @include flexbox;
            @include justify-content(space-between);
        }
        .logo, .menu {
            width: 50%;
        }
        .logo {
            span {
                font: $heading-font;
                display: block;
                width: 5rem;
                height: 5rem;
                background-color: $accent;
                color: $primary;
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                font-size: 2.5rem;
                margin-top: -1rem;
                @include box-shadow(0, 0, 0.5rem, $primary);
                
            }
        }
        .menu {
            text-align: right;
            button {
                border: 0;
                background-color: transparent;
                margin-top: 1.5rem;

                span {
                    display: block;
                    width: 3rem;
                    height: 0.2rem;
                    background-color: $white;
                    margin-bottom: 1rem;
                }
            }
        }
        @include mq(md) {
            border-top: 1.5rem solid $white;
            border-left: 1.5rem solid $white;
            border-right: 1.5rem solid $white;

            .logo {
                span {
                    width: 7rem;
                    height: 7rem;
                    margin-top: -1.5rem;
                }
            }
        }
    }
    main {
        border-left: 1rem solid $white;
        border-right: 1rem solid $white;
        border-bottom: 1rem solid $white;
        @include mq(md) {
            border-top: 1.5rem solid $white;
            border-left: 1.5rem solid $white;
            border-right: 1.5rem solid $white;
        }
    }
    footer {
        text-align: center;
        padding: 1rem 0;
        
        p {
            font-size: 1.4rem;
        }
    }
    .h-line {
        display: block;
        width: 10rem;
        height: 0.2rem;
        background-color: $accent;
        margin: 2rem 0;
    }
    .btn {
        display: block;
        text-align: center;
        background-color: transparent;
        border: 2px solid;
        padding: 1rem 4rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    .btn-light {
        border-color: $accent;

    }
    .accent-font {
        font: $accent-font;
        text-transform: initial;
    }
}
//---------------------
//        HOME
//---------------------
#home {
    .grad-bg {
        background: linear-gradient(320deg, $primary, $secondary);
    }
    #hero {
        height: 100vh;
        margin-top: -5.7rem;
        @include flexbox;
        @include justify-content(flex-end);
        @include align-items(center);
        background: linear-gradient(120deg, $primary, $secondary);
        
        h1 {
            text-align: center;
            span {
                display: block;
                font-size: 3rem;
                color: $accent;
                margin-top: 1rem;
            }
        }
        @include mq(md) {
            margin-top: -7.1rem;
            h1 {
                font-size: 8rem;

                span {
                    font-size: 6rem;
                }
            }
        }
    }
    #intro {
        padding: 10rem 0 20rem;

        .greeting {
            margin-bottom: 5rem;
            p {
                color: $accent;
                font-size: 3rem;
            }
        }
        .text {
            background-color: $white;
            @include box-shadow(0, 0, 1rem, $primary);
            color: $primary;
            margin: 0 -3rem 5rem;
            padding: 4rem 3rem;
            position: relative;

            &::before {
                content: ' ';
                display: block;
                margin: 0 auto;
                width: 80%;
                height: 2rem;
                background: linear-gradient(to left, $accent, rgba(81, 235, 200, 0.2));
                -webkit-box-shadow: inset 0px 10px 5px -10px rgba(45,0,66,0.75);
                -moz-box-shadow: inset 0px 10px 5px -10px rgba(45,0,66,0.75);
                box-shadow: inset 0px 10px 5px -10px rgba(45,0,66,0.75);
                position: absolute;
                bottom: -2rem;
                left: 0;
                right: 0;
            }

            h3 {
                margin-bottom: 3rem;
            }

            p {
                margin-bottom: 2rem;
            }
        }
        @include mq(md) {
            padding: 20rem 0 20rem;
            h2 {
                font-size: 4.8rem;
            }
            .container {
                @include flexbox;
                @include flex-wrap(wrap);
                @include justify-content(space-between);

                .greeting {
                    width: 70%;
                }
                .text {
                    width: 80%;
                    margin: 0 0 5rem -7.5rem;
                    padding: 8rem 6rem;
                    &::before {
                        width: 95%;
                        margin-left: -1rem;
                    }
                }
                .img-container{
                    width: 20%;
                }
                a {
                    margin: 0 auto;
                }
            }
            
            
        }
    }
    #sel-work {
        padding: 10rem 0 20rem;
        h2 {
            margin: 0 2rem;
        }
        > .h-line {
            margin-left: 2rem;
        }
        .container {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-between);
        }
        .work {
            background-color: $white;
            position: relative;
            overflow: hidden;
            
            @include box-shadow(0, 0, 1rem, $primary);
            margin-bottom: 2rem;
            
            a {
                display: block;
                color: $primary;
                padding: 4rem 2rem;
                position: relative;
                z-index: 2;
                &::before {
                    content: ' ';
                    display: block;
                    background: linear-gradient(rgba(81, 235, 200, 0), rgba(81, 235, 200, 0.5));
                    width: 100%;
                    height: 200%;
                    position: absolute;
                    transform: rotate(-30deg);
                    top: -50%;
                    right: -70%;
                    transition: 0.3s right;
                }
                &:hover::before, &:focus::before {
                    right: -50%;
                }
                h3 {
                    margin-bottom: 3rem;
                }

                ul {
                    li {
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-bottom: 2rem;
                        &::before {
                            content: ' ';
                            background-color: $accent;
                            display: inline-block;
                            margin-right: 2rem;
                            width: 1rem;
                            height: 1rem;
                            @include rounded(50%);
                            
                        }
                    }
                }
            }
        }
        .btn {
            margin: 0 auto;
        }
        @include mq(md) {
            h2 {
                margin: 0 6rem;
                font-size: 6rem;
            }
            > .h-line {
                margin-left: 6rem;
            }
            .work {
                width: calc(50% - 1.5rem);
            }
        }
    }
    #connect {
        background-color: $accent;
        border-top: 1rem solid $white;
        padding: 6rem 3rem;
        position: relative;

        .left {
            margin-bottom: 2rem;
            width: 100%;
            h2 {
                color: $primary;
                font-size: 4rem;
                margin-bottom: 1rem;
            }
            p {
                font: $accent-font;
                font-size: 2rem;
                color: $primary;
            }
        }
        .right {
            position: relative;
            ul {
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                margin-bottom: 2rem;

                li {
                    margin: 0 2.5rem;
                    a {
                        color: $primary;
                        font-size: 3rem;
                    }
                }
            }
            span {
                display: block;
                height: 0.2rem;
                background-color: $secondary;
                position: absolute;
                left: 0;
                right: -6rem;
            }
        }
        @include mq(md) {
            padding: 10rem 8rem;
            .container {
                @include flexbox;
                @include justify-content(space-between);
                @include align-items(flex-end);
            }
            .left {
                width: auto;
                margin-bottom: -0.6rem;
                margin-right: 3rem;

                h2 {
                    font-size: 6rem;
                }
                p {
                    text-align: right;
                }
            }
            .right {
                width: 100%;
            }
        }
    }
}